# Ignore everything at root
/*

# Un-ignore these root entries
!.gitignore
!.github/
!CLAUDE.MD
!app/

# Ignore everything inside app/ except the path to the theme
app/*
!app/public/

app/public/*
!app/public/wp-content/

app/public/wp-content/*
!app/public/wp-content/themes/

app/public/wp-content/themes/*
!app/public/wp-content/themes/omnia/

# Inside the theme, ignore these
app/public/wp-content/themes/omnia/assets/css/wp-cli.phar
app/public/wp-content/themes/omnia/.DS_Store

# Common ignores
.DS_Store
*.log
*.zip
